html, body {
    margin: 0px; 
}
body {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-family: Arial; 
}
.info-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    background-color: antiquewhite;
    padding: 20px; 

    gap: 40px; 
    border-radius: 30px; 

    /* width: 300px; */
}
.score-container {
    color: darkgreen;
    background-color: lightgreen;
    padding: 20px; 
    border-radius: 10px; 

}
.hint-container {
    width: 200px; 
    text-align: center; 

    color: rgb(135, 126, 114);
}
#hints {
    /* text-align: left; */
}
#guess-container {
    display: none; 
}
.guesses {
    color: salmon;
}
.button-container {
    margin-top: 20px; 
}
#score {
    color: darkgreen;
    font-size: 50px; 
    margin: 0px; 
}
#play-again {
    display: none; 
}