html, body {
    height: 100%; /* Ensure both html and body take up the full height of the viewport */
    margin: 0;    /* Remove any default margin */
    padding: 0;   /* Remove any default padding */
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;
    font-family: Arial;

    position: relative; /* Set relative positioning to contain the pseudo-element */
    width: 100%;
    height: 150%;
    z-index: 1; /* Ensure body content is above the background */
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Background image with blur */
    background-image: url('https://jack-pittman.github.io/fifa_guesser/media/background.jpg'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Blur effect applied only to the background */
    filter: blur(5px); 

    z-index: -1; /* Ensure the background stays behind the content */
}
button {
    background-color: transparent;
    background-color: black;
    /* background-color: rgb(135, 126, 114); */
    color: antiquewhite;
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    border-radius: 10px; 
    /* opacity: 0.7;  */

    /* font-weight: bold;  */
    transition: color 0.2s, background-color 0.2s;

}
button:hover {
    background-color: antiquewhite;
    color: black; 
    color: rgb(92, 85, 77);
}
/* .button-container {
    margin-top: 0px; 
    margin-bottom: 20px; 
    color: white; 
    background-color: black;
    padding: 40px; 
    border-radius: 30px;
    opacity: 0.7; 
    width: 50%;
} */
input {
    background-color: antiquewhite;
    border-radius: 5px; 
}
.title-container {
    margin-top: 50px; 
    margin-bottom: 20px; 
    color: white; 
    background-color: black;
    padding: 40px; 
    border-radius: 30px;
    opacity: 0.7; /* Entire container is 50% opaque, including text */
    width: 50%;
}
.title-container h1 {
    /* font-weight: lighter;  */
    opacity: 1; /* Entire container is 50% opaque, including text */
    color: antiquewhite; 


}
.title-container p {
    font-weight: lighter; 
    font-family: 'Courier New', Courier, monospace;
    color: antiquewhite; 
    opacity: 1; /* Entire container is 50% opaque, including text */

}

.content-wrapper {
    display: flex; 
    flex-direction: column; 
}

.info-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;

    background-color: antiquewhite;
    padding: 20px; 

    gap: 40px; 
    border-radius: 30px; 

    /* width: 300px; */
}
#score-container {
    color: darkgreen;
    /* color: rgb(143, 104, 7);
    color: rgb(143, 59, 7); */

    background-color: #90ee90;
    /* background-color: rgb(239, 216, 83);
    background-color: rgb(240, 160, 156); */
    
    padding: 20px; 
    border-radius: 10px; 
    
    /* Add the transition for color and background-color */
    transition: color 1s, background-color 1s;
}
.hint-container {
    width: 200px; 
    text-align: center; 

    color: rgb(135, 126, 114);
}
.interface-container {
   margin-top: 20px; 
    display: flex; 
    justify-content: center;
}
#hints {
    /* text-align: left; */
}
#guess-container {
    display: none; 

    color: antiquewhite; 
    background-color: black;
    padding: 20px; 
    border-radius: 30px;
    opacity: 0.7; /* Entire container is 50% opaque, including text */

    font-family: 'Courier New', Courier, monospace;
}
#guess-container, #play-again-container, .button-container {
    position: relative;
    opacity: 0;
    transform: translateY(40%); /* Start off below the viewport */
    animation: slideUp 1s ease-out forwards; /* Slide up with ease */
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0); /* Final position */
    }
}
.guesses {
    color: salmon;
}
/* .button-container {
    margin-top: 20px; 
} */
#score {
    /* color: darkgreen; */
    font-size: 50px; 
    margin: 0px; 
}
#play-again {
    display: none; 
}